body
{
    background-color: #f4f4f4;
}
.post-container
{
    width: 80%;
    margin: 50px auto;
}
.content
{
    width: 90%;
    height: 200px;
    background-color: #fff;
    height: auto;
    padding: 0px;
    margin: 0 auto;
}
#post-title
{
    padding: 20px 10px 5px 10px;
    font-size: 28px;
    line-height: 1.4;
    font-weight: 700;
    text-align: center;
}
#timestamp
{
    text-align: center;
}
#options{
    margin:0 0 10px 0;
    padding: 0;
    text-align: center;
}
#options li 
{
    list-style-type: none;
    display: inline-block;
}
#options li button 
{
    background-color: #0000;
    border:none;
    outline: none;
    color: #007bff;
}
#options li button:hover
{
    color: blue;
    text-decoration: underline;
}
#post-body
{
    padding: 20px 20px 0px 20px;
    font-family: sans-serif;
}
#post-body p span br
{
    display: none;
}
#post-image-container
{
    padding: 20px;
}
#post-body img, #post-image-container img
{
    width: 100% !important;
    padding-top: 20px;
    padding-bottom: 20px;
}
#post-title img{
    vertical-align: top;
}
ion-icon {
    pointer-events: none;
}
#trash
{
    font-size: 25px;
    color: red;
}
#edit
{
    font-size: 28px;
    color: #000;
}
#facebook-icon
{
    font-size: 26px;
    color: blue;
}
#whatsapp-logo
{
    font-size: 26px;
    color: rgb(0, 255, 115);
}
#twitter-logo
{
    font-size: 26px;
    color:#007bff
}
#linked-logo
{
    font-size: 25px;
    color: blue;
}
#delete form button 
{
    padding: 0;
    margin: 0;
}
#post-tags
{
    margin: 30px 20px 5px 20px;
    text-align: center;
}
#post-tags a 
{
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin-bottom: 4px;
    border-radius: 5px;
}
#post-tags a:hover
{
    background-color: orangered;
    color: #fff;
}
#post-categories
{
    padding: 20px;
}
#post-categories div 
{
    margin-top: 15px;
}
#post-categories div a 
{
    background: darkslateblue;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
#post-categories div a:hover 
{
    background: rgb(23, 122, 214);
}

/* media queries to make post layout responsive */


/* medium devices */
@media screen and (max-width: 992px){
    .post-container
    {
        width: 90%;
    }
    .content
    {
        width: 100%;
    }
}

/* small devices */
@media screen and (max-width: 768px) {
    .post-container
    {
        width: 100%;
    }
    .content
    {
        width: 100%;
    }
}

/* Extra small devices */
@media screen and (max-width: 576px) {
    .post-container
    {
        width: 100%;
    }
    .content
    {
        width: 100%;
    }
    #post-categories span
    {
        text-align: center;
    }
    #post-categories div a 
    {
        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    #post-categories div a:nth-of-type(1)
    {
        margin-top: 15px;
    }

}


